body {
  padding: 0;
  margin: 0;
  text-align: center;

}
/* TOP SECTION START */
.top-section {
  background-color: #8ac4d0;
  position: relative;
  padding: 200px;

}

.favicon {
  position: absolute;
  width: 10%;
  left: 40px;
  top: 20px;
  cursor: pointer;
}

.right-cloud {
  position: absolute;
  right: 200px;
  top: 120px;
  width: 15%;
}

.right-rain{
  position: absolute;
  right: 200px;
  top: 200px;
  width: 15%;
}

.left-cloud {
  position: absolute;
  width: 15%;
  left: 200px;
  bottom: 320px;
}

.left-rain{
  position: absolute;
  left: 200px;
  width:15%;
  bottom:200px;
}


nav {
    position: absolute;
    top: 20px;
    right:80px;
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: right;
}

nav li a {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

 a:hover {
    color: #FFFFFF;

}

/* TOP SECTION END */

/* MIDDLE SECTION START */

.skills{
  position: relative;
  height:900px;
  margin-bottom: 100px

}

.photo{
  width:40%;
}

.profile{
  text-align: center;
  width:40%;
  margin: 150px auto;
}

hr{
  width: 30%;
  border-top: 0.2rem solid;
  color: #5eaaa8;
  margin-bottom: 150px ;
}

.design{
  width:30%;
  text-align: left;
  position: absolute;
  left:150px;
  top: 200px;
  height: 300px;
}

.develop{
  width:30%;
  text-align: left;
  position: absolute;
  right:150px;
  bottom: 0px;
  height: 300px;
}


.contact-me{
  width: 40%;
  margin: 50px auto;
}


img{
  width: 20%;


}

.dev{
  position: absolute;
  width: 15%;
  bottom: 90px;
  left:  300px;
  margin: auto;

}

.des{
  width: 15%;
  position: absolute;
  top: 250px;
  right: 300px;
  margin: auto;
}
/* MIDDLE SECTION END*/

/* BOTTOM SECTION START*/

.bottom-section{
  padding:5px;
  background-color: #8ac4d0;

}

.links{
  margin: 30px auto 30px auto;
}

a{
  text-decoration: none;
  font-size: 1.5rem;
}
.button{
  color: #28527a;
}
.button:hover{
  color:black;
}
/* FONT SIZES*/
h1 {
  font-family: 'Sacramento', cursive;
  line-height: 2;
  font-size: 4rem;
  color: #28527a;
}

h2 {
  font-size: 3rem;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #28527a;
}

p{
  font-size: 1.5rem;
  font-family: 'EB Garamond', serif;
  color: black;
}

h3{
  font-size: 2rem;
  font-family: 'EB Garamond', serif;
  color: #28527a;
}

h4{
  color: #FFFFFF;
}
